node_modules
lib
.env
yarn-error.log
.DS_Store
.prettierrc
database.sqlite
**/.DS_Store
.husky
.vscode
**.yarn-integrity
.yarnrc.yml
.yarn
.pnp.cjs
.pnp.js
.pnp.loader.mjs
lib
package-lock.json
yarn.lock